.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    margin:2rem
}

.cart-button {
    color: darkcyan;
}

.product-price {
    text-align: center;
    font-size: large;
}